.xl-text {
  font-size: 75px;
}
.btn-outline-secondary {
  color: var(--bs-secondary);
}
.btn-outline-secondary {
  &:hover {
    color: #fff;
  }
}
.navbar {
  transition: all 0.5s ease-in-out;
}
.navbar-sticky {
  background: #fff;
  opacity: 0.9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.header .decoration-star {
  top: 80px;
  left: -200px;
  width: 500px;
  opacity: 0.8;
}
.header .decoration-star2 {
  top: 80px;
  right: -200px;
  width: 500px;
  opacity: 0.8;
}
.details1 .decoration-star {
  top: 0;
  left: -200px;
  width: 500px;
  opacity: 0.8;
}
.details2 .decoration-star {
  top: 100;
  right: -200px;
  width: 500px;
}
.contact .decoration-star {
  left: -100px;
  width: 500px;
  opacity: 0.8;
}
.to-top-btn {
  position: fixed;
  z-index: 20;
  bottom: 20px;
  right: 20px;
  opacity: 0;
  width: 52px;
  height: 52px;
  border: none;
  border-radius: 50%;
  outline: none;
  background-color: #44434a;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.to-top-btn {
  &:hover {
    background-color: #1d1d21;
  }
}

.to-top-btn {
  img {
    margin-bottom: 0.25rem;
    width: 18px;
  }
}

.show {
  opacity: 1;
}
@media only screen and (max-width: 992px) {
  .header {
    text-align: center;
  }
  .header .image-container {
    margin-top: 20px;
  }
  .xl-text {
    font-size: 50px;
  }
  .header .decoration-star {
    left: -100px;
    width: 250px;
  }
  .header .decoration-star2 {
    right: -100px;
    width: 250px;
  }
  .services .col-md-4 {
    border-bottom: 1px #ccc solid;
  }
  .details2 .decoration-star {
    top: 400px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .card-body p {
    display: block !important;
  }
  .card-body a {
    display: block !important;
  }
}
